button {
    margin-top: 5px;
    width: 508px;
}

input {
    margin-top: 5px;
    width: 500px;
}

h1 {
    line-height: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    padding-top: 5px;
}

h3 {
    line-height: 0px;
    padding-bottom: 4px;
    padding-top: 2px;
}

#Watermark {
    padding-bottom: 5px;
    font-size: large;
}


html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
    text-align: center;
    background: rgb(255,137,0);
    background: radial-gradient(circle, rgba(255,137,0,1) 0%, rgba(209,205,194,1) 100%);    
}

@media only screen and (max-width: 500px) {
    button {
        margin-top: 5px;
        width: 80%;
    }
    
    input {
        margin-top: 5px;
        width: 80%;
    }
    
    h1 {
        padding-top: 5px;
        word-wrap:normal;
    }
    
    h3 {
        line-height: 0px;
        padding-bottom: 4px;
        padding-top: 2px;
    }
    
    #Watermark {
        padding-bottom: 5px;
    }
    
    html {
        margin-top: 15%;
        text-align: center;
        background: rgb(255,137,0);
        background: radial-gradient(circle, rgba(255,137,0,1) 0%, rgba(209,205,194,1) 100%);        
    }
  }
